.payments-container {
    border: 5px solid #0044ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px;
}
  
  .payment-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 10px;
  }
  
  .payment-option:hover {
    background-color: #333;
    color: #fff;
  }
  
  .payment{
      color: white;
  }
  .payment-option h3 {
    margin: 0 10px;
  }
  
  .payment-option p {
    margin: 0 10px;
  }
  