.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    text-align: right;
    width: auto;
  }
  
  .header-container h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
  }

  
  
  .header-container button {
    padding: 0.5rem 1rem;
    background-color: #fff;
    border: none;
    border-radius: 0.25rem;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .header-container button:hover {
    background-color: #333;
    color: #fff;
  }
  